# Suppress deprecated npm environment warnings
# These warnings are from pnpm's internal usage of deprecated npm env vars
# They don't affect functionality and will be resolved in future pnpm versions

# Disable npm update notifications
update-notifier=false
